{# We don't need to inherit since we don't need any layout here. #}
{# Since we don't inherit, we don't need any base block #}

{% import 'AcmeEzBlogBundle:macros:tags.html.twig' as tags %}

<article>
    <div class="feature-image">
        <div class="entry-date"><div class="month">{{ content.contentInfo.publishedDate|date( 'M' ) }}</div><div class="number">{{ content.contentInfo.publishedDate|date( 'd' ) }}</div></div>
    </div>
    <div class="excerpt">
        <a href="{{ path( location ) }}" class="post-heading" >{{ ez_render_field( content, 'title' ) }}</a>
    </div>
    <div class="meta">
        <span class="user"><a href="#">By LuisZuno, </a></span>
        <span class="tags">
        {{ tags.commaList( content.getFieldValue( 'tags' ).values ) }}
        </span>
    </div>
    <i class="tape"></i>
</article>