{# Full view template for a blog_post content #}
{# See https://confluence.ez.no/display/EZP/Content+view #}
{% extends "AcmeEzBlogBundle::pagelayout.html.twig" %}

{% import 'AcmeEzBlogBundle:macros:tags.html.twig' as tags %}

{% block content %}
    <!-- posts list -->
    <div id="posts-list" class="cf">

        <article>
            <div class="feature-image">
                {#<img src="{{ asset( "bundles/acmeezblog/img/dummies/560x300c.jpg" ) }}" alt="Thumbnail" />#}
                <div class="entry-date"><div class="month">{{ content.contentInfo.publishedDate|date( 'M' ) }}</div><div class="number">{{ content.contentInfo.publishedDate|date( 'd' ) }}</div></div>
            </div>
            <div class="excerpt">
                <h1 class="post-heading" >{{ ez_render_field( content, 'title' ) }}</h1>
                {{ ez_render_field( content, 'body' ) }}
            </div>
            <div class="meta">
                <span class="user"><a href="#">By {{ author.contentInfo.name }}, </a></span>
                <span class="tags">
                {{ tags.commaList( content.getFieldValue( 'tags' ).values ) }}
                </span>
            </div>
            <i class="tape"></i>
        </article>

    </div>
    <!-- ENDS posts list -->
{% endblock %}
